{% extends 'base.html' %} {% block content %}
<section class="product-view">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="product-image">
          <img
            src="{{ product.image.url }}"
            alt="{{ product.product_name }}"
            class="img-fluid"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="product-details">
          <h1>{{ product.product_name }}</h1>
          <p class="product-description">{{ product.description }}</p>
          <p class="product-price">${{ product.price }}</p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
